@font-face {
	font-family: 'OpenSans Bold';
	src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bold-webfont.woff') format('woff'),
		url('../fonts/opensans-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans BoldItalic';
	src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
		url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans Italic';
	src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-italic-webfont.woff') format('woff'),
		url('../fonts/opensans-italic-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans Regular';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova BoldItalic';
	src: url('../fonts/proxima_nova_bold_italic-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_bold_italic-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_bold_italic-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'ProximaNova Bold';
	src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova RegularItalic';
	src: url('../fonts/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_regular_italic-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_regular_italic-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'ProximaNova Regular';
	src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova LightItalic';
	src: url('../fonts/proxima_nova_light_italic-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_light_italic-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_light_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'ProximaNova Light';
	src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*============= SPRITE MAP =============*/
.sprite {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}

.sprite-avatar {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 27px;
	background-position: -5px -5px;
}
.sprite-checked {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 31px;
	height: 23px;
	background-position: -39px -5px;
}
.sprite-clock {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 19px;
	height: 19px;
	background-position: -80px -5px;
}
.sprite-instagram {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 21px;
	height: 21px;
	background-position: -109px -5px;
}
.sprite-mountain {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 35px;
	height: 22px;
	background-position: -140px -5px;
}
.sprite-phone-call {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	background-position: -80px -37px;
}
.sprite-phone-call_1 {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	background-position: -106px -37px;
}
.sprite-placeholder {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 13px;
	height: 18px;
	background-position: -134px -37px;
}
.sprite-placeholder-_4_ {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 14px;
	height: 20px;
	background-position: -157px -37px;
}
.sprite-question-_1_ {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 75px;
	height: 76px;
	background-position: -5px -67px;
}
.sprite-rope-_2_ {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 75px;
	height: 76px;
	background-position: -90px -67px;
}
.sprite-sign-_1_ {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;	
	width: 75px;
	height: 76px;
	background-position: -185px -5px;
}
.sprite-twitter {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;	
	width: 28px;
	height: 24px;
	background-position: -175px -91px;
}
.sprite-twitter_320 {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;		
	width: 22px;
	height: 18px;
	background-position: -213px -91px;
}
.sprite-vk {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;		
	width: 30px;
	height: 18px;
	background-position: -213px -119px;
}
.sprite-vk_2 {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;		
	width: 32px;
	height: 19px;
	background-position: -175px -147px;
}

/*============= GLOBAL STYLES =============*/
body, p, h1, h2, h3, h4, h5, h6, ol, ul, li {
	margin: 0;
	padding: 0;
}
.container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
/*	margin: 0;*/
	padding-left: 14px;
	padding-right: 14px;
}
.container--no-padding {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.section-title {
	position: relative;
	padding-top: 75px;
	padding-bottom: 36px;
	font-family: 'ProximaNova Bold', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #211811;
	text-transform: uppercase;
	text-align: center;
}
.section-title::after {
	position: absolute;
	content: '';
	margin-left: auto;
	margin-right:	auto;
	width: 80px;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 30px;
	background-color: #211811;
}
.section-title--white {
	padding-top: 2px;
	color: #fff;
}
 .section-title.section-title--white::after{
	background-color: #fff;
}
.btn {
	padding: 7px 27px;
	background-color: rgba(230,230,238,0.54);
	font-family: 'ProximaNova Regular', 'Arial', sans-serif;
	font-size: 15px;
	color: #211811;
	border: 1px solid #211811;
	border-radius: 0px;
	text-decoration: none;
}
.btn--top-menu {
	display: none; /*XS*/
}
.btn-up {
	display: block;
	position: relative;
	padding: 0;
	margin-bottom: -6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 2px solid #dadae7;
	background-color: rgba(230,230,238,0);
}
.btn-up::before {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	border-left: 1px solid  #dadae7;
	border-top: 1px solid  #dadae7;
	transform-origin: top left; 
	transform: rotate(45deg) translateX(120%) translateY(-30%);
} 
.btn--red {
	margin-bottom: 10px;
	padding: 15px 35px;
	font-size: 16px;
	background-color: rgba(132,23,24,0.85);
	border: none;
	color: #fefefe;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-prev1, .btn-next1,
.btn-prev2, .btn-next2,
.btn-prev3, .btn-next3 {
	width: 42px;
	position: relative;
}
.btn-prev1::before, .btn-next1::before,
.btn-prev2::before, .btn-next2::before,
.btn-prev3::before, .btn-next3::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 2px solid #800000;
	border-right: 2px solid #800000;
}
.btn-next1::before,
.btn-next2::before,
.btn-next3::before {
	transform: rotate(45deg) translateX(-25%)
    translateY(25%);
}
.btn-prev1::before,
.btn-prev2::before,
.btn-prev3::before {
  transform: rotate(-135deg) translateX(-25%)
    translateY(25%);
}
/*============= end of GLOBAL STYLES =============*/



/*============= HEADER =============*/
.page-header {
/*	width: 100%;*/
	position: relative;
	background-color: #f7f7f9;
}
.page-header__contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #e9e9f1;
	height: 30px;
	position: relative;				
}
.page-header__contacts-list {
	list-style: none;
}
.page-header__contacts-item {
	display: inline-block;
	margin-left: 19px;
}
.page-header__contacts-item a {
	text-decoration: none;
	color: #000;
}
.page-header__contacts-item {
	font-family: 'ProximaNova Light', 'Arial', sans-serif;
	font-size: 16px;
}
.page-header__contacts-item--clock {
	display: none; /*XS*/
}
.page-header__contacts-item--phone {
	position: relative; /*XS*/
	padding-left: 20px;
}
.page-header__contacts-item--phone::before {
	position: absolute;
	content: '';
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	left: 0;
	width: 18px;
	height: 18px;
	background-position: -80px -37px;
}
.page-header__contacts-item--adress {
	display: none; /*XS*/	
}
.page-header__toggler{
	width: 30px;
	height: 30px;
	background-color: #e9e9f1;
	border: none;
	border-style: none;
	padding-left: 14px;
	padding-right: 14px;
	background-image: url(../img/burger.svg);
/*	-webkit-background-size: cover;
	background-size: cover;*/
	background-repeat: no-repeat;
	background-position: center;
}
.icon-kebab {
	font-size: 0;
}
.page-header__main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	z-index: 2;
	height: 370px;
	padding-top: 83px;
	background-color: #e9e9f1;
	border-top: 1px solid  #22313f;
}
.page-header__main--active {
	display: flex;
}
.logo {
	display: none;
}
.page-header__buy {
	display: none;
}
.main-nav {

}
.main-nav__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
	list-style: none;
}
.main-nav__item {
	padding-bottom: 11px;
}
.main-nav__link {
	text-decoration: none;
	font-size: 18px;
	color: #22313f;
	font-family: 'ProximaNova Regular', 'Arial', sans-serif;

}
.nav-social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}
.nav-social__item{
	margin-right: 9px;
}
.nav-social__link {
	display: block;
	background-repeat: no-repeat;
	background-image: url(../img/spritesheet.png);
}
.nav-social__link--twitter {
	width: 23px;
	height: 18px;
	background-position: -5px -170px;	
}
.nav-social__link--vk {
	width: 26px;
	height: 15px;
	background-position: -37px -170px;
}
.nav-social__link--instagram {
	width: 19px;
	height: 19px;
	background-position: -73px -170px;
}
/*============= PROMO =============*/
.promo {
	background-image: url(../img/promo_back.jpg);
	background-position: bottom center;
	background-size: cover;
	padding-bottom: 80px;
}
.promo__descr {
	padding-top: 21px;
	padding-bottom: 20px;
	width: 90%;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 18px;
/*	min-height: 30px;*/
	color: #22313f;
  font-size: 18px;
  line-height: 1.667;

}
.promo__descr--view-xs {
	display: none;
}

/*============= TRACES =============*/
.traces {
	background-image: url(../img/traces_back.jpg);
	background-position: top center;
	background-size: cover;
}
.traces__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 20px;
}

.traces__list {
	width: 214px;
/*	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;*/
	list-style: none;
}
.traces__item{
	z-index: 2;
	min-height: 320px;
	position: relative;
	background-color: rgba(34,49,63,0.75);
	display: none;
}
/*.traces__item:nth-child(2n) {
	background-color: rgba(34,49,63,1);
}*/
.traces__item:nth-child(1) {
	display: block;
}
.traces__item::after {
	position: absolute;
	content: '';
	display: block;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(34,49,63,0.75);
}
.traces__img-wrap {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.traces__title {
	position: relative;
	padding-top: 19px;
	padding-bottom: 6px;
	z-index: 3;
	font-family: 'ProximaNova Bold', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: #c7c7d3;
	text-shadow: 1px 2px 0 rgba(0,0,0,0.75);
}
.traces__height, .traces__age {
	position: relative;
	z-index: 2;
	padding-top: 12px;
	padding-left: 73px;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	color: #f9f9f9;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
.traces__height::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 28px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 35px;
	height: 22px;
	background-position: -140px -5px;
}
.traces__age::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 32px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 27px;
	background-position: -5px -5px;
}
.traces__descr {
	width: 190px;
	position: relative;
	padding-top: 70px;
	z-index: 4;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	color: #e7e7f2;
	text-align: center;
}
/*============= ACTION =============*/
.actions {
	
}

.actions__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
	list-style: none;
}
.actions__item {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 253px;
/*	width: 100%;*/
	margin-bottom: 10px;
	position: relative;
	font-family: 'ProximaNova Bold', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	color: #fefefe;
	background-position: center center;
	background-repeat: no-repeat;
/*	-webkit-background-size: cover;
	background-size: cover;*/
}
.actions__item:nth-child(1) {
	background-image: url(../img/actions01.jpg);
}
.actions__item:nth-child(2) {
	background-image: url(../img/actions02.jpg);
}
.actions__item:nth-child(3) {
	background-image: url(../img/actions03.jpg);
}
.actions__text {
	position: absolute;
	bottom: 17px;
	left: 14px;	
}

/*============= ABOUT =============*/
.about {
/*	padding-left: 14px;
	padding-right: 14px;*/

}
.container__about {
	padding-top: 40px;
	padding-bottom: 24px;
	background-image: url(../img/about_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;	
}
.about__list {
	margin-top: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	list-style: none;

}
.about__item {
/*	min-height: 75px;*/
	display: block;
	position: relative;
	padding-left: 76px;
	padding-right: 24px;
	padding-bottom: 28px;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 14px;
	color: #fffffe;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
.about__item::before {
	display: block;
	position: absolute;
	content: '';
	left: 5px;
	top: 0;
	width: 75px;
	height: 76px;
	background-repeat: no-repeat;
	background-image: url(../img/spritesheet.png);
	transform: scale(0.72);
}
.about__item:nth-child(1)::before {
	background-position: -90px -67px;
}
.about__item:nth-child(2)::before {
	background-position: -185px -5px;
}
.about__item:nth-child(3)::before {
	background-position: -5px -67px;
}
.about__text-xs-md {
	display: inline-block;
}
.about__text-lg {
	display: none;
}
/*============= PHOTO =============*/
.photo {

}
.photo__container {
	margin-top: 28px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.photo__list {
	list-style: none;
	width: 214px;
	height: 400px;
/*	overflow-y: hidden;*/
}
.photo__item {
	display: block;
	height: 400px;
}
.photo__img {
/*	width: 100%;
	height: auto;*/
}
/*============= PRICES =============*/
.prices-reviews-wrapper {
	background-image: url(../img/prices_back.jpg);
	background-position: tops center;
	background-size: cover;
}
.prices {

}
.prices .section-title {
	padding-top: 20px;
} 
.prices__table {
	display: none;
}
.prices__head-cell {

}
.prices__cell-1st-line {

}
.prices-head-cell-1st-line-lg {

}
.prices__subhead-cell {
 
}
/*Accordeon in XS-view*/
.prices-accord__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-top: 24px;
}
.prices-accrod__item {
	display: block;
	background-color: #fff;
	border-top: 1px solid #22313f;
}
.prices-accrod__item:last-child {
	border-bottom: 1px solid #22313f;	
}
.prices-accrod__subhead {
	position: relative;
	padding: 19.5px 52px;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #22313f;
	cursor: pointer;		
}
.prices-accrod__subhead::after {
	position: absolute;
	content: '';
	left: 278px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 18px;
	height: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #22313f;
	border-right: 1px solid #22313f;
	transform: rotate(-135deg);	
}
.prices-accrod__item--active > .prices-accrod__subhead::after{
	transform: rotate(-225deg);
}
.prices-accrod__item--active > .prices-accord__opt-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.prices-accord__opt-list {
	display: none;
	flex-direction: column;
	list-style: none;
	background-color: #22313f;
}
.prices-accord__opt-item {
	display: block;
	text-align: center;
}
.prices-accord__opt-link {
	display: block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #dadae7;
}
.prices-accord__opt-link span {
	display: block;
	font-size: 14px;
}

.prices__summ {
	display: block;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	color: #22313f;	
}
.prices__summ-xs {
	position: relative;
	background-color: #f1f1f1;
	text-transform: none;
	padding: 14px;
}
.prices__total-price {
	display: inline-block;
	position: absolute;
	left: 266px;
}
.prices__comment-xs, .prices__comment {
	padding-top: 6px;
	padding-bottom: 25px;
	font-size: 10px;
	line-height: 14px;
	position: relative;
}
.prices__comment  {
	line-height: 10px;
}
.prices__comment-sum {
	position: absolute;
	display: inline-block;
	left: 230px;
	font-size: 12px;
	text-transform: none;
}

.prices__btn-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 28px;
}
.prices__safety-link {
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 15px;
	text-decoration: underline;
	color: #22313f;
}


/*============= REVIEWS =============*/
.reviews {
	padding-bottom: 37px;
}
.reviews__container {
	background-color: rgba(241,241,241,0.75);	
	min-height: 560px;
}
.reviews__list-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.reviews__container .section-title {
	padding-top: 36px;
	margin-bottom: 33px;
}
.reviews__list {
	list-style: none;
	width: 214px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
/*	align-items: center;*/
}
.reviews__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
/*	justify-content: center;*/
	align-items: center;
	width: 214px;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #22313f;	
}
.reviews__img {
	margin-left: 28px;
}
.reviews__name {
	line-height: 38px;
	font-weight: 600;
}
.reviews__status {
	font-size: 14px;
	line-height: 12px;
}
.reviews__text {
	text-align: left;
	padding: 0 14px;
	letter-spacing: 0.75px;
}
.reviews__social-links {
	list-style: none;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.reviews__social-btn {
	display: block;
}
.reviews__link {
	display: block;
	margin: 11px 4px;
	background-repeat: no-repeat;
	background-image: url(../img/spritesheet.png);
}
.reviews__link--vk {
	width: 30px;
	height: 18px;
	background-position: -213px -119px;
}
.reviews__link--instagram {
	width: 21px;
	height: 21px;
	background-position: -109px -5px;
}
/*============= FOOTER =============*/
.page-footer {
	background-color: #22313f;
}
.page-footer__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
}
.page-footer__contacts{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	font-family: 'ProximaNova Light', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #dadae7;
}
.page-footer__contacts-adress {
	padding-left: 20px;
	padding-top: 10px;
	position: relative;
	font-family: 'ProximaNova Light', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #dadae7;
}
.page-footer__contacts-adress::before {
	content: '';
	display: block;
	position: absolute;
	left: 1px;
	bottom: 0;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 20px;
	background-position: -157px -37px;
	transform: scale(0.73);
}
.page-footer__contacts-phone {
	padding-left: 20px;
	padding-top: 9px;
	padding-bottom: 12px;
	position: relative;
}
.page-footer__contacts-phone a {
	font-family: 'ProximaNova Light', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #dadae7;
	text-decoration: none;	
}
.page-footer__contacts-phone::before {
	content: '';
	display: block;
	position: absolute;
	left: -1px;
	top: 8px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-position: -106px -37px;
	transform: scale(0.8);	
}
.page-footer__nav-list{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.page-footer__nav-item {
	padding-top: 11px;
}
.page-footer__link {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #dadae7;	
}
.page-footer__social-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
	padding-top: 18px;
}
.page-footer__social-item {
	display: block;
	margin-right: 10px;
}
.page-footer__social-link {
	display: block;
	background-repeat: no-repeat;
	background-image: url(../img/spritesheet.png);
}
.page-footer__social-link--twitter {
	width: 23px;
	height: 18px;
	background-position: -5px -147px;	
}
.page-footer__social-link--vk {
	width: 26px;
	height: 15px;
	background-position: -37px -147px;
}
.page-footer__social-link--instagram {
	width: 19px;
	height: 19px;
	background-position: -73px -147px;
}
.page-footer__map {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 320px;
	height: 230px;
}

/*=======================================================================================*/
/*=======================================================================================*/
/*======================================== 768PX ========================================*/
/*=======================================================================================*/
/*=======================================================================================*/
@media (min-width: 768px) {
.container {
	width: 768px;
}
.container--no-padding {
	width: 768px;
}
.section-title {
	font-size: 40px;
	letter-spacing: 2px;
}
.section-title::after {
	width: 94px;
}
.section-title--white {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 22px;
}
.btn {
	font-size: 16px;
}
.btn--top-menu {
	display: none;
}
.btn-up {
	width: 42px;
	height: 42px;
	border-radius: 21px;
}
.btn-up::before {
	width: 16px;
	height: 16px;
	border-left: 2px solid  #dadae7;
	border-top: 2px solid  #dadae7;
} 
.btn--red {
	margin-bottom: 10px;
	padding: 15px 35px;
	font-size: 16px;
	background-color: rgba(132,23,24,0.85);
	border: none;
	color: #fefefe;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*.btn-prev1, .btn-next1,
.btn-prev3, .btn-next3 {
	width: 42px;
	position: relative;
}*/
.btn-prev1, .btn-next1,
.btn-prev2, .btn-next2,
.btn-prev3, .btn-next3 {
	cursor: pointer;
}
.btn-prev2, .btn-next2 {
	display: none;
}
.btn-prev3, .btn-next3 {
	display: block;
}
/*.btn-prev1::before, .btn-next1::before,
.btn-prev3::before, .btn-next3::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 2px solid #800000;
	border-right: 2px solid #800000;
}*/
/*.btn-next1::before,
.btn-next3::before {
	transform: rotate(45deg) translateX(-25%)
    translateY(25%);
}
.btn-prev1::before,
.btn-prev3::before {
  transform: rotate(-135deg) translateX(-25%)
    translateY(25%);
}*/
/*============= end of GLOBAL STYLES =============*/



/*============= HEADER =============*/
.page-header {
	width: 100%;
	position: relative;
}
.page-header__contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	padding-right: 14px; 
	background-color: #e9e9f1;
	height: 30px;
	position: relative;				
}
.page-header__contacts-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	list-style: none;
	width: 768px;
	margin-left: auto;
	margin-right: auto;
}
.page-header__contacts-item {
	display: inline-block;
	margin-left: 61px;
	padding-top: 8px;
}
.page-header__contacts-item a {
	text-decoration: none;
	color: #000;
}
.page-header__contacts-item {
	font-family: 'ProximaNova Light', 'Arial', sans-serif;
	font-size: 16px;
}
.page-header__contacts-item--clock {
	display: inline-block;
	position: relative;
	padding-left: 24px; 
}
.page-header__contacts-item--clock::before {
	position: absolute;
	content: '';
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	left: 0;
	bottom: 2px;
	width: 19px;
	height: 19px;
	background-position: -80px -5px; 
}
.page-header__contacts-item--phone {
	padding-left: 24px;
}
.page-header__contacts-item--phone::before {
	bottom: 0;
}
.page-header__contacts-item--adress {
	display: inline-block;
	position: relative;
	padding-left: 24px;
}
.page-header__contacts-item--adress::before {
	position: absolute;
	content: '';
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	left: 0;
	bottom: 2px;
	width: 13px;
	height: 18px;
	background-position: -134px -37px;
}
.page-header__toggler{
	display: none;
}

.page-header__main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	background-color: rgba(255,255,255,0);
	top: 0;
	width: 768px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-right: 14px;
	padding-bottom: 0px;
	padding-left: 14px;
	z-index: 1;
	border-top: none;
}
.logo {
	display: block;
}
.page-header__buy {
	display: none;
}
.main-nav {
	margin-left: auto;
}
.main-nav__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	margin-left: auto;
}
.main-nav__item {
	padding-bottom: 4px;
	margin-left: 43px;
}
.main-nav__link {
	color: #000;
	font-family: 'ProximaNova Regular', 'Arial', sans-serif;
	font-weight: 500;
}
.nav-social {
	display: none;
}

/*============= PROMO =============*/
.promo {
	position: relative;
	z-index: 0;
	background-image: url(../img/promo_back.jpg);
	background-position: bottom center;
	background-size: cover;
	padding-top: 17px;
	padding-bottom: 260px;
}
.promo::after {
	z-index: 1;
	content: '';
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100px;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.promo__descr {
	width: 85%;
	padding-top: 31px;
	padding-bottom: 0;
	font-size: 16px;
	line-height: 30px;
}
.promo__descr--view-xs {
	padding-top: 0;
	padding-bottom: 46px;
	display: block;
}

/*============= TRACES =============*/
.traces {
	background-image: url(../img/traces_back.jpg);
	background-position: top center;
	background-size: cover;
}
.traces__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 20px;
}

.traces__list, .slider {
	width: 656px;
	list-style: none;
}
.traces__item/*, .slick-slide*/ {
	z-index: 2;
	margin-right: 7px;
	width: 212px;
	min-height: 622px;
	position: relative;
	background-color: rgba(34,49,63,0.75);
	display: block;
}
.traces__item:nth-child(2n+1) {
	background-color: rgba(34,49,63,1);
}
.traces__item::after {
	display: none;
}
.traces__item::last-child {
	margin-right: 0;
}
.traces__img-wrap {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	width: 212px;
	height: 320px;
	margin-bottom: 25px;
}
.traces__img {
	width: 100%;
	height: auto;
}
.traces__item:nth-child(2n+1) .traces__title {
	padding-top: 25px;
}
.traces__age {
	margin-bottom: 26px;
}
.traces__item:nth-child(2n+1) .traces__age {
	margin-bottom: 21px;
} 
.traces__item:nth-child(2n+1) .traces__img-wrap {
	margin-bottom: 31px;
} 
.traces__descr {
	padding-top: 0;
}

/*============= ACTION =============*/
.actions .section-title {
	padding-top: 40px;
}
.actions__item {
	font-size: 30px;
	line-height: 36px;
	background-size: cover;
}
.actions__item:nth-child(1) {
	background-image: url(../img/actions01.jpg);
}
.actions__item:nth-child(2) {
	background-image: url(../img/actions02.jpg);
}
.actions__item:nth-child(3) {
	background-image: url(../img/actions03.jpg);
}
.actions__text {
	position: absolute;
	bottom: 17px;
	left: 40px;
	width: 50%;	
}

/*============= ABOUT =============*/
.about {
}
.container__about {
	margin-top: 44px;
	margin-bottom: 54px;
	padding-bottom: 60px;
}
.about__list {
	margin-top: -22px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}
.about__item {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 27%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 84px;
	padding-bottom: 28px;
	font-size: 14px;
	line-height: 18px;
}
.about__item::before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform: scale(0.97);
}
.about__text-xs-md {
	display: inline-block;
}
.about__text-lg {
	display: none;
}
/*============= PHOTO =============*/
.photo {

}
.photo__container {
	margin-top: 28px;
	margin-bottom: 24px;
	height: 400px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.photo__list {
	list-style: none;
	position: relative;
	width: 100%;
	width: 1192px;
/*	min-height: 400px;*/
/*	overflow-y: none;*/
}
.photo__item {
	display: block;
	padding: 0;
	margin: 0 7px 0 0;
	position: relative;
	width: 242px;
	min-height: 400px;
	overflow: hidden;
}
.photo__img {
/*	width: 100%;*/
	height: auto;
}
/*============= PRICES =============*/
.prices-reviews-wrapper {
	background-image: url(../img/prices_back.jpg);
	background-position: top center;
	background-size: cover;
}
.prices {

}
.prices .section-title {
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 18px;
} 
.prices__table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: table;
	border-collapse: collapse;
	border: none;
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.3px;
	color: #22133f;
	text-align: center;
}
.prices__head-cell {
	padding: 9px 0;
	background-color: #5b6671;
	color: #dadae7;
}
.prices__cell-1st-line {
	display: block;
	text-transform: uppercase;
}
.prices-cell-1st-line-lg {
	display: none;
}
.prices__subhead-cell {
	padding: 16px 14px;
	font-size: 16px;
	background-color: rgba(241,242,243,0.64);
	color: #22133f;
	text-align: right;
}
.prices__subhead-bold {
	font-family: 'OpenSans Regular', 'Arial', sans-serif;
	font-weight: bold;
}
.prices__left-cell {
	padding: 21px;
	width: 50%;
	background-color: #5b6671;
	color: #dadae7;
	text-transform: uppercase;
}
.prices__cell_1st-line {
	display: block;
}
.prices__cell {
	padding: 21px;
	font-size: 18px;
	width: 25%;
}
/*Accordeon in XS-view*/
.prices-accord__list {
	display: none;
}
.prices__summ {
	display: none;
}
.prices__cell--add-hour {
	font-size: 16px;
	text-transform: uppercase;
}
.prices__cell--pers-oper {
	text-transform: uppercase;
	text-align: right;
	background-color: rgba(241,242,243,0.64);
}
.prices__cell--pers-oper-price {
	padding-right: 60px;
	text-align: right;
	background-color: rgba(241,242,243,0.64);
}

.prices__btn-wrap {
	margin-top: 70px;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 50px;
}
.prices__safety-link {
	font-size: 16px;
	margin-left: 67px;
}


/*============= REVIEWS =============*/
.reviews {
	padding-bottom: 74px;
}
.reviews__list {
	width: 655px;
}
.reviews__item {
	width: 215px;
	margin: 0 5px 0 0;
}
/*============= FOOTER =============*/
.page-footer {
	padding-top: 45px;
	padding-bottom: 35px;
}
.page-footer__container {
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.page-footer__contacts{
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
	padding-top: 14px;
	font-size: 19px;
}
.page-footer__contacts-adress {
	font-size: 19px;
}
.page-footer__contacts-adress::before {
	transform: scale(1);
}
.page-footer__contacts-phone {
	font-size: 19px;
}
.page-footer__contacts-phone a {
	font-size: 19px;
}
.page-footer__contacts-phone::before {
	transform: scale(1);	
}
.page-footer__nav-list{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.page-footer__nav-item {
	padding-top: 15px;
}
.page-footer__link {
	font-size: 19px;
}
.page-footer__social-list {
	padding-top: 32px;
	padding-bottom: 32px;
}
.page-footer__social-item {
	margin-right: 15px;
}
.page-footer__social-link {
	display: block;
	background-repeat: no-repeat;
	background-image: url(../img/spritesheet.png);
}
.page-footer__social-link--twitter {
	width: 28px;
	height: 24px;
	background-position: -102px -167px;	
}
.page-footer__social-link--vk {
	width: 32px;
	height: 24px;
	background-position: -143px -167px;
}
.page-footer__social-link--instagram {
	width: 25px;
	height: 24px;
	background-position: -189px -167px;
}
.page-footer__map {
	margin-right: 14px;
	width: 445px;
	height: 400px;
}

}

/*=======================================================================================*/
/*=======================================================================================*/
/*======================================= 1280PX ========================================*/
/*=======================================================================================*/
/*=======================================================================================*/
@media (min-width: 1280px) {
.container {
	width: 1280px;
	padding-left: 44px;
	padding-right: 44px;
}
.container--no-padding {
	width: 1280px;
}
.section-title {
}
.section-title::after {
}
.section-title--white {
	padding-top: 10px;
}
.btn {
	font-size: 16px;
}
.btn--top-menu {
	display: block;
	margin-left: 21px;
}
.btn-up {
	width: 42px;
	height: 42px;
	border-radius: 21px;
}
.btn-up::before {
	width: 16px;
	height: 16px;
	border-left: 2px solid  #dadae7;
	border-top: 2px solid  #dadae7;
} 
.btn--red {
	margin-bottom: 10px;
	padding: 15px 35px;
	font-size: 16px;
	background-color: rgba(132,23,24,0.85);
	border: none;
	color: #fefefe;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-prev1, .btn-next1 {
	display: none;
}
.btn-prev1, .btn-next1,
.btn-prev3, .btn-next3 {
	width: 42px;
	position: relative;
}
.btn-prev1, .btn-next1,
.btn-prev2, .btn-next2,
.btn-prev3, .btn-next3 {
	cursor: pointer;
}
.btn-prev1, .btn-next1,
.btn-prev2, .btn-next2 {
	display: none;
}
.btn-prev3, .btn-next3 {
	display: block;
}
.btn-prev1::before, .btn-next1::before {
	display: none;
}
.btn-prev3::before, .btn-next3::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 2px solid #800000;
	border-right: 2px solid #800000;
}
.btn-next1::before,
.btn-next3::before {
	transform: rotate(45deg) translateX(-25%)
    translateY(25%);
}
.btn-prev1::before,
.btn-prev3::before {
  transform: rotate(-135deg) translateX(-25%)
    translateY(25%);
}
/*============= end of GLOBAL STYLES =============*/



/*============= HEADER =============*/
.page-header {
	width: 100%;
	position: relative;
}
.page-header__contacts {
	padding: 0;
	height: 32px;
}
.page-header__contacts-list {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	justify-content: flex-end;
	padding-right: 44px; 
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
.page-header__contacts-item {
}
.page-header__contacts-item a {
}
.page-header__contacts-item {
}
.page-header__contacts-item--clock {
}
.page-header__contacts-item--clock::before {
}
.page-header__contacts-item--phone {
}
.page-header__contacts-item--phone::before {
}
.page-header__contacts-item--adress {
}
.page-header__contacts-item--adress::before {
}
.page-header__toggler{
/*	display: none;*/
}

.page-header__main {
	width: 1280px;
}
.logo {
	margin-left: 31px;
}
.page-header__buy {
}
.main-nav {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	justify-content: flex-end;
	padding-right: 34px; 
	margin-left: auto;
}
.main-nav__list {
}
.main-nav__item {
}
.main-nav__link {
}
.nav-social {
}

/*============= PROMO =============*/
.promo {
	padding-bottom: 294px;
}
.promo__container .btn {
	display: none;
}
.promo::after {
}
.promo__descr {
	width: 70%;
	padding-top: 30px;
	padding-bottom: 0;
	font-size: 18px;
	line-height: 30px;
}
.promo__descr .promo__descr--view-xs {
	padding-top: 0;
	padding-bottom: 30px;
}


/*============= TRACES =============*/
.traces {
	position: relative;
	z-index: 1;	
}
.traces::after {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 2;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.traces__container {
	margin-top: -17px;
	padding-bottom: 50px;

}

.traces__list {
	width: 1192px;
	list-style: none;
	margin-left: 17px;
	margin-right: 17px;
}
.traces__item{
	width: 214px;
	margin-right: 20px;
	background-color: rgba(34,49,63,1);
}
.traces__item:nth-child(2n) {
	margin-top: 75px;
}
.traces__item:nth-child(2n+1) {
	background-color: rgba(34,49,63,0.75);
}
.traces__item::after {
	display: none;
}
.traces__item::last-child {
	margin-right: 0;
}
.traces__img-wrap {
	position: relative;
	z-index: 1;
	width: 214px;
	height: 320px;
	margin-bottom: 22px;
}
.traces__img {
	width: 100%;
	height: auto;
}
.traces__item:nth-child(2n) .traces__title {
	padding-top: 25px;
}
.traces__age {
	margin-bottom: 26px;
}
.traces__item:nth-child(2n) .traces__age {
	margin-bottom: 21px;
} 
.traces__item:nth-child(2n) .traces__img-wrap {
	margin-bottom: 25px;
} 
.traces__descr {
	padding-top: 0;
}

/*============= ACTION =============*/
.actions .section-title {
	padding-top: 40px;
}
.actions__list {
	margin-top: 37px;
	flex-direction: row;
	justify-content: space-between;
}
.actions__item {
	width: 30%;
	min-height: 345px;
	font-size: 30px;
	line-height: 36px;
	background-size: cover;
}
.actions__item:nth-child(1) {
	background-image: url(../img/actions01.jpg);
}
.actions__item:nth-child(2) {
	background-image: url(../img/actions02.jpg);
}
.actions__item:nth-child(3) {
	background-image: url(../img/actions03.jpg);
}
.actions__text {
	bottom: 32px;
	left: 15px;
	width: 90%;	
}

/*============= ABOUT =============*/
.about {
	margin-top: 90px;
}
.about .section-title--white {
	padding-top: 0;
}
.container__about {
}
.about__list {
	padding-left: 80px;
	padding-right: 80px;
}
.about__item {
	font-size: 16px;
	line-height: 24px;
	width: 24%;
}
.about__item::before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform: scale(1);
}
.about__text-xs-md {
	display: inline-block;
}
.about__text-lg {
	display: none;
}
/*============= PHOTO =============*/
.photo {
	margin-top: 110px;
}
.photo__container {
	justify-content: space-between;
	
}

.photo__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 484px;
}
.photo__item {
	display: block;
	width: 360px;
	min-height: 484px;
	margin-right: 54px;
}
.photo__img {
	width: 100%;
	height: auto;
/*	margin-right: 7px;*/
}
/*============= PRICES =============*/
.prices-reviews-wrapper {
}
.prices {
	margin-top: 90px;
}
.prices .section-title {
	margin-bottom: 0;
	margin-top: 175px;
} 
.prices__table {
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: hide;
	font-size: 18px;
	line-height: 24px;
}
.prices__head-cell {
	padding: 5px 0;
}
.prices__cell-1st-line {
}
.prices__subhead-cell {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	padding: 15px 0;
}
.prices__subhead-bold {
}
.prices__left-cell {
	border: 2px solid  #5b6671;
	width: 33.3%;
	padding: 0;
}
.prices-cell-1st-line-lg {
	display: inline-block;
}
.prices__cell {
	width: 33.3%;
}
.prices__cell--sel {
 border: 2px solid rgba(255,255,255, 0);
 padding: 17px 0;
}
.prices__cell--sel:hover {
	border: 2px solid #5e6b77;
}
.prices__cell--check {
	border: 2px solid  #960000;
	position: relative;
}
.prices__cell--check::after {
	position: absolute;
	display: block;
	content: '';
	right: 38px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 31px;
	height: 23px;
	background-position: -39px -5px;
}
.prices__cell--check:hover {
	border: 2px solid  #960000;
}

/*Accordeon in XS-view*/
.prices-accord__list {
	display: none;
}
.prices__summ {
	display: none;
}
.prices__cell--add-hour {
}
.prices__cell--pers-oper {
}
.prices__cell--pers-oper-price {
}

.prices__btn-wrap {
	margin-top: 70px;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 97px;
}
.prices__safety-link {
	font-size: 16px;
	margin-left: 67px;
}


/*============= REVIEWS =============*/
.reviews {
	padding-bottom: 94px;
}
.reviews__container {
	min-height: 570px;
}
.reviews__list {
	width: 1108px;
}
.reviews__item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 360px;
	padding-right: 83px;
	padding-left: 82px;
	margin-right: 14px;
}
/*============= FOOTER =============*/
.page-footer {
	padding-top: 20px;
	padding-left: 44px;
}
.page-footer__container {
	padding-left: 9px;
	padding-right: 25px;
}
.page-footer__contacts{
	padding-top: 10px;
}
.page-footer__contacts-adress {
	display: inline-block;
/*	margin-left: 31px;*/
}
.page-footer__contacts-adress::before {
}
.page-footer__contacts-phone {
	display: inline-block;
	margin-left: 31px;
}
.page-footer__contacts-phone a {
}
.page-footer__contacts-phone::before {
}
.page-footer__nav-list{
	/*margin-left: 31px;*/
	margin-top: 12px;
}
.page-footer__nav-item {
}
.page-footer__link {
}
.page-footer__social-list {
	padding-bottom: 70px;
}
.page-footer__social-item {
}
.page-footer__social-link {
}
.page-footer__social-link--twitter {
}
.page-footer__social-link--vk {
}
.page-footer__social-link--instagram {
}
.page-footer__map {
	margin-right: 44px;
	width: 745px;
	height: 417px;
}

}